.analytics-body {
    //background-color: white;
}

.toolbar {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
    font-family: "Avenir-Book";
    background-color: #208089;
}

.analytics {
    //background-color: "#fff";
    margin-left: 256px;
    padding: 20px;
}

.dash-top {
    height: 50px;
    background-color: "green";
}

// <div style={{margin: "0 auto", padding: "40px", width: "95%", height: "400px", color: "#333", background: "#419be0"}}>
