.analytics-body {
    //background-color: white;
}

.toolbar {
    text-transform: uppercase;
    letter-spacing: 1.5px;
    color: white;
    font-family: "Avenir-Book";
    background-color: #208089;
}

.analytics {
    background-color: $dark-blue;
    margin-left: 256px;
    padding: 25px;
    .slick-prev {
        margin-left: 20px;
    }
    .slick-next {
        margin-right: 20px;
    }
    .slick-dots {
        bottom: -30px;
    }
    .react-grid-HeaderCell {
        background-color: "blue";
    }
    .react-datagrid > .z-inner {
        flex :1 0 auto;
    }

}

#my-grid {
    text-align: center;
    font-family: 'Avenir-Book';
    height: 500px;
    padding: 0px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    .react-grid-HeaderCell {
        background: $light-grey;
        padding-top: 5px;
    }
    .react-grid-Cell {
        text-align: center;
        padding-left: 10px;
    }
    .react-bs-container-header.table-header-wrapper {
        padding: 0px;
        font-family: 'Avenir-Book';
    }
    .react-bs-container-body {
        padding: 0px;
        font-family: 'Avenir-Book';
    }
    *, :after, :before {
        font-family: 'Avenir-Book';
    }
    .react-bs-table-search-form {
        color: $light-blue;
    }
    .company-detail .details-subnav .filters .filters-search-input, .details-subnav .filters .filters-search-input, .filters.filters-search-form .filters-search-input, .form-control {
        border-radius: 0px;
        border: 0px;
    }
    .filter .select-filter .form-control .placeholder-selected {
        color: "green";
    }
    .pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
         background-color: "green";
    }
    .dropdown-menu {
        left: 40%;
    }
}

.dash-top {
    height: 50px;
    background-color: "green";
}


// <div style={{margin: "0 auto", padding: "40px", width: "95%", height: "400px", color: "#333", background: "#419be0"}}>
