.brand-image {
	width: 80px;
	background-color: black;
	height: 80px;
	margin-left: 88px;
	margin-top: 20px;
}

.brand-title {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	font-size: 22px;
	margin-top: 8px;
	margin-bottom: 8px;
}

.brand-name {
	text-transform: uppercase;
	letter-spacing: 3px;
	text-align: center;
	margin-top: 8px;
	font-size: 15px;
	color: white;
	background-color: black;
	padding-bottom: 10px;
	//padding-bottom: 8px;

}
.no-margin {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	background-color: white;
}

.sidenav-top {
	//padding-bottom: 10px;
	background-color: $black;
	overflow-y: hidden;
}

.sidenav-search {
	margin-top: 5;
	margin-bottom: 5;
	//padding-left: 5;
	//padding-right: 5;
	background-color: $dark-grey;
}

.sidenav-main {
	background-color: $dark-grey;
	height: calc(100% - 197px);
	overflow-y: hidden;
	//position: relative;
	//height: calc(100% - 180px);
	//position: relative;
}
