$white: #ffffff;
$black: #000000;

$darkest-grey: #111316;
$darker-grey: #4a4a4a;
$dark-grey: #33363b;
$dark-grey-opacity: rgba(51, 54, 59, 0.69);
$light-grey: #e7e7e7;
$silver: #b9c3ca;

$battleship-grey: #738694;

$dark-blue: #03387a;
$med-blue: #124c93;
$blue: #2d64a5;
$light-blue: #3c88d1;

$primary-border: #175499;

$high-risk-color: #ff0000;
$mid-risk-color: #ffd300;
$low-risk-color: #97c93c;

$positive-color: #50e3c2;
$neutral-color: #f5a623;
$negative-color: #e76959;
