@import url(//fonts.googleapis.com/css?family=Oswald:300);

@font-face {
  font-family: 'Oswald', sans-serif;
}

@font-face {
  font-family: 'Avenir-Book';
  src: font-url('Avenir-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Avenir-Medium';
  src: font-url('Avenir-Medium.ttf') format('truetype');
}
