@import 'fonts';
@import 'spinner';
@import 'react-grid-layout';
@import 'node/react-big-calendar';
@import 'node/react-bootstrap-table';
@import 'node/index';
//@import 'node/react-select';
@import '../bower_components/foundation/scss/foundation/_functions.scss';
@import '../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss';
@import '../bower_components/slick-carousel/slick/slick.scss';
@import '../bower_components/slick-carousel/slick/slick-theme.scss';
//@import '../node_modules/react-grid-layout/css/styles.css';

@import './import/slide-menu.scss';
@import './import/application.scss';
@import './import/react-data-grid.scss';
@import url(https://fonts.googleapis.com/css?family=Raleway:700,400);


//pages
@import 'pages/overview-content';
@import 'elements/elements';
@import 'elements/navigation';
@import 'elements/analytics';
@import 'flipcard';
//@import 'elements/flipper';



$topbar-height: rem-calc(45);


*, *:before, *:after {
  box-sizing: border-box;
  font-family: lato;
}

#property_search {
  color: 'green';
  background-color: 'yellow';
}

.slide-bar {
  width: 200px;
  background-color: rgb(74,74,74);
  background-color: #222222;
  background-color: #33363b;


  //background-color: white;
}

.fixed-side {
  width: 70px;
  background-color: rgb(74,74,74);
  background-color: #222222;
  background-color: #33363b;

}
.drawer {
  max-height: 500px;
  transition-property: all;
  position: absolute;
  height: 500px;
  width: 100%;
  bottom: 0px;
  background-color: white;
  left: 0px;
  transition-duration: .4s;
  transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
  box-shadow: 0 5px 6px rgba(0,0,0,0.12), 0 5px 4px rgba(0,0,0,0.12);
}
.drawer.closed {
  max-height: 0;
}

#app {
  height: 100%;
  //background-color: #03387a;
  background-color: rgba(0,0,0,.3);
}
body {
  background-color: #ffffff;
}

.new-story {
  margin-top: 20px;
}

.new-story__title {
  input {
   border: none;
   box-shadow: none;
   border-bottom: 2px solid #ccc;
  }
}

.new-story__body {
  textarea {
   background-color: #fafafa;
   border: none;
   box-shadow: none;
  }
}
.new-story__submit {

}

.story {
  list-style: none;
  padding: 10px;
  margin-top: 10px;
  font-family: 'Raleway', sans-serif;
}

.story__title {
  text-decoration: none;
  font-weight: 700;
  font-size: rem-calc(24);
  a {
    color: black;
  }
}

.story__body {
  font-weight: 400;
  font-size: rem-calc(14);
  color: #333;
  font-style: italic;
}

.story__user {
  font-weight: 400;
  font-size: rem-calc(12);
  color: #2E8BA9;
}

.story__date {
  color: #aaa;
  font-size: rem-calc(12);
}

.card {
  margin-bottom: 1em;
  padding: 20px;
  background-color: #ECF0F1;
  border-bottom: 4px solid #D4D7D8;
  ul {
    margin-bottom: 0;
  }
}

.card--login {
  margin-top: 20px;
}

.card--login__field {
  label {
    font-family: lato-light;
  }
  input {
    border-width: 0px;
    border-left: 4px solid #c2c2c2;
    box-shadow: none;
  }
}

.card--login__submit {
  width: 100%;
  margin: 0;
  margin-top: 10px;
  font-family: 'Lato'
}

.error-notice {
  position: absolute;
  top: $topbar-height;
  width: 100%;
  z-index: 9999;
  background-color: #E44646;
  color: white;
  text-align: center;
  padding: 5px;
  ul {
    list-style: none;
    margin: 0;
  }
}
